body{
    background-image: url(../img/plantas-portada.jpg);
    background-size: 100%;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-weight: lighter;   
}

p{
    text-align: justify;
    font-weight: lighter;
}

.card-text{
    font-weight: lighter;
}

nav{
    font-weight: lighter;
    background-color: rgba(221, 216, 216, 0.534);
}

.nav-brand{
    color: black;
}

html {
    scroll-behavior: smooth;
  }
  .modal-title{
      text-align: center;
  }

  .more-products{
      text-align: center;
      font-weight: lighter;
      margin-top: 100px;
      margin-bottom: 100px;
      
  }

  